//==============================================
// Pulse
//==============================================

.tcu-pulse {
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-name: pulse;
}

@keyframes pulse {
	0% {
		opacity: 0.7;
		transform: scale(0.9);
	}

	50% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0.7;
		transform: scale(0.9);
	}
}
