.tcu-arrow {
	background: transparent;
	border: none;
	height: 100%;
	padding: 0;
	width: 50px;

	&:focus {
		outline: 1px dotted $black;
	}

	svg {
		pointer-events: none;
	}
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-arrow {
		svg {
			fill: buttonText;
		}
	}
}

.tcu-arrow-down {
	@include arrow-down(111111);
	background-color: transparent;
	background-size: 50px 60px;
	border: none;
	height: 50px;
	width: 50px;

	&:focus {
		outline: $black 2px solid;
	}
}

.tcu-arrow-up {
	@include arrow-up(111111);
	background-color: transparent;
	background-size: 50px 60px;
	border: none;
	height: 50px;
	width: 50px;

	&:focus {
		outline: $black 2px solid;
	}
}
