.tcu-overlay-defaults {
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transform: scale(0, 0);
	transition: all 0.4s ease-out 0.3s;
	width: 100%;
	z-index: 0;
}

.tcu-overlay {
	background: rgba(0, 0, 0, 0.5);
}

.tcu-overlay--purple {
	background-color: rgba(77, 25, 121, 0.6);
}

.tcu-zindex-2 {
	z-index: 2;
}

.tcu-background--typography {
	background: url('../images/topography.png');
	background-size: cover;
	left: 0;
	position: absolute;
	top: 0;
}

.title-border {
	text-align: center;
}

.tcu-background-defaults {
	background-color: $black;
	background-size: cover !important;
	color: $white;
	font-size: 20px;
	min-height: 500px;
	padding: $space-l;
	position: relative;
}

.tcu-background--sayagata {
	background-image: linear-gradient(45deg, $secondary-blue, $purple);
	background-repeat: repeat;
	background-size: 100% 100%;
	font-size: $h3-font-size;

	a {
		color: $secondary-yellow;

		&:hover,
		&:focus {
			color: $light-grey;
		}
	}
}

// Background Angles for Six Block Section
.tcu-background--angles {
	background: transparent url('../images/svg/angles_slice.svg') center center no-repeat;
	background-size: cover;
	height: 254px;
	width: 100%;
}

.tcu-background--triangles {
	background: $purple url('../images/svg/triangles_slice.svg') bottom center no-repeat;
}

// Background angles for inforgraphic section
.tcu-infographics--tangles {
	background-color: transparent;
	background-image: url('../images/svg/top-infographic-angles.svg');
	background-position: top center;
	background-size: cover;
	display: block;
	height: 212px;
	position: relative;
	top: -2px;
	width: 100%;
}

.tcu-infographics--bangles {
	background-image: url('../images/svg/infographic-bottom.svg');
	background-position: bottom center;
	background-size: cover;
	bottom: -2px;
	display: block;
	height: 81px;
	position: relative;
	width: 100%;
}

.tcu-background--feathers {
	background-color: transparent;
	background-image: url('../images/subtle_white_feathers.png');
}

.tcu-background--shattered {
	background-color: transparent;
	background-image: url('../images/shattered.png');
	padding: $space-l $space-default;
}

.tcu-background--grunge {
	background-color: transparent;
	background-image: url('../images/mochaGrunge.png');
	padding-bottom: $space-default;
	padding-top: $space-default;

	@include media($xl-screen) {
		padding-bottom: 0;
		padding-top: 0;
	}
}

.tcu-background--typography {
	background: transparent url('../images/topography.png');
	position: relative;
	top: 0;
}

.tcu-dash-background-svg {
	background: transparent url('../images/feature-video.svg') center center no-repeat;
}

.tcu-layoutwrap--hornedfrog-grey {
	@extend %tcu-layoutwrap;
	background-color: $horned-frog-grey;
	color: $white;
	padding: $space-l;

	blockquote {
		border-left: 10px solid $white;
	}
}

// Background image for mobile
// Full width video section
.tcu-background-video-default {
	background: url('../images/video-background-500x500.jpg') center center no-repeat;
	background-size: cover;

	@include media($medium-screen) {
		background: url('../images/video-background-800x500.jpg') center center no-repeat;
		background-size: cover;
	}
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-background-defaults {
		border-bottom: 1px solid buttonText;
		border-right: 1px solid buttonText;
	}

	.tcu-background--sayagata,
	.tcu-background--shattered,
	.tcu-background--feathers,
	.tcu-layoutwrap--transparent {
		border-bottom: 1px solid buttonText;
	}
}
