.tcu-button--transparent {
	background-color: transparent;
	border: 1px solid $white;
	color: $white;
	font-size: 1.375rem;

	&:hover,
	&:focus {
		background: $secondary-yellow;
		color: $black;

		svg {
			fill: $black;
		}
	}
}

%tcu-bounce {
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: scaleX(0);
	transition-duration: 0.5s;
	transition-property: transform;
	transition-timing-function: ease-out;
	z-index: -1;
}

%tcu-bounce--right {
	@extend %tcu-bounce;
	transform-origin: 0 50%;
}

.tcu-bounce--right--yellow {
	&::before {
		@extend %tcu-bounce--right;
		background: $secondary-yellow;
	}

	&:hover,
	&:focus,
	&:active {
		color: $purple;
	}

	svg {
		&:hover,
		&:focus,
		&:active {
			fill: $purple;
		}
	}
}

.tcu-bounce--right--yellow {
	&:hover::before,
	&:focus::before,
	&:active::before {
		transform: scaleX(1);
		transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	}
}

.tcu-button-icon {
	fill: $white;
	height: 30px;
	vertical-align: top;
	width: 30px;
}
