.tcu-flexbox {
	display: flex;
}

.tcu-flex-inline {
	display: inline-flex;
}

// Row
.tcu-flexbox--column-wrap {
	flex-flow: column wrap;
}

.tcu-flexbox--column-nowrap {
	flex-flow: column nowrap;
}

// Column
.tcu-flexbox--row-nowrap {
	flex-flow: row nowrap;
}

.tcu-flexbox--row-wrap {
	flex-flow: row wrap;
}

.tcu-flexbox--vertical-align {
	justify-content: center;
}

.tcu-flexbox--align-items {
	align-items: center;
}

// Direction
.tcu-flexbox--column {
	flex-direction: column;
}

.tcu-flexbox--row {
	flex-direction: row;
}

// space-between
.tcu-flex-space-between {
	justify-content: space-between;
}

// align items - flex-start
.tcu-flex-start {
	align-content: flex-start;
}
