.tcu-not-mobile {
	display: none;

	@include media($medium-screen) {
		display: block;
	}
}

.tcu-overflow-hidden {
	overflow: hidden;
}

html.no-js {
	.tcu-pulse {
		display: none;
	}
}

.tcu-font-bold {
	font-weight: $font-bold;
}

.tcu-text-shadow {
	text-shadow: 2px 2px 0 $black;
}

.tcu-yellow {
	color: $secondary-yellow !important;
}

// absolute bottom left
.tcu-absolute-btm-left {
	bottom: $space-l;
	left: $space-l;
	position: absolute;
	right: $space-l;
}

.tcu-position--relative {
	position: relative;
}
