// ================
// hero styles
// ================
.tcu-hero {
	height: 550px;
	margin-left: auto;
	margin-right: auto;
	max-width: 1800px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;

	.tcu-hero__content {
		background-color: rgba(0, 0, 0, 0.4);
		color: $white;
		margin-left: auto;
		margin-right: auto;
		padding: $space-l;
		position: relative;
		width: 100%;

		@include media($large-screen) {
			padding-left: 10%;
			padding-right: 10%;
		}

		a {
			color: $secondary-yellow;
			font-size: $h4-font-size;

			&:focus {
				box-shadow: $focus-white;
				color: $white;
				outline: thin dotted;
			}

			&:hover,
			&:visited,
			&:active {
				color: $white;
				text-decoration: underline;
			}
		}

		h2 {
			font-size: 40px;
			font-weight: $font-bold;
			margin-bottom: 0;
			margin-top: 0;

			@include media($xl-screen) {
				font-size: 60px;
			}
		}
	}
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-hero {
		border-bottom: 1px solid buttonText;
	}
}
