.tcu-masonry-home {
	.tcu-modal {
		margin-bottom: 16px;

		@include media($medium-screen) {
			margin-left: 8px;
			max-width: 350px;
		}

		&:last-child {
			@include media($medium-screen) {
				margin-bottom: 0;
			}
		}
	}
}

// Effect 2: Move Up
.tcu-masonry-home.effect-2 div.animate {
	animation: moveUp 0.65s ease forwards;
	transform: translateY(200px);
}

@-webkit-keyframes moveUp {
	0% {
	}

	100% {
		opacity: 1;
	}
}

@keyframes moveUp {
	0% {
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

// No js
html.no-js {
	.tcu-masonry-home {
		@include media($small-screen) {
			column-count: 2;
		}

		@include media($large-screen) {
			column-count: 3;
		}

		.tcu-modal {
			break-inside: avoid;
			margin-bottom: 16px;
			page-break-inside: avoid;
			width: 100%;

			@include media($medium-screen) {
				margin-left: 8px;
				max-width: 350px;
			}
		}
	}
}
