.tcu-showcase {
	color: $white;
	overflow: hidden;
	overflow-x: hidden;
	position: relative;
	text-align: center;

	@include media($medium-screen) {
		margin-bottom: $space-default;
		margin-top: $space-default;
	}

	.tcu-showcase__image {
		@include margin(null auto);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover !important;
		border: none;
		max-height: 100%;
		max-width: 320px;
		padding: 0;
		width: 100%;

		&:focus {
			border: $secondary-orange 4px solid;
			box-shadow: $focus-orange;
			padding: 0;
		}

		@include media($medium-screen) {
			float: left;
			height: 260px;
			width: 260px;
		}

		@include media($large-screen) {
			height: 200px;
			margin: 0;
			width: 200px;
		}
	}

	.tcu-showcase__content {
		padding: $space-m;
		text-align: left;

		@include media($medium-screen) {
			float: left;
			width: 50%;
		}

		@include media($large-screen) {
			padding-top: 0;
		}

		@include media($xl-screen) {
			width: 60%;
		}
	}
}

.tcu-showcase--inactive {
	height: 200px;
	margin-bottom: 0;
	margin-top: 0;
	max-width: 200px;
	padding-left: 0;
	padding-right: 0;
}

.tcu-showcase--active {
	height: 200px;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
	width: 50%;
}

.tcu-showcase--hide {
	display: none;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity 500ms, display 800ms;
	z-index: -1;
}

.tcu-showcase--show {
	display: inline-block;
	margin-top: $space-default;
	opacity: 1;
	position: absolute;
	right: $space-l;
	top: 0;
	transition: opacity 500ms, display 800ms;
	z-index: 1;
}
