@charset 'UTF-8';

// Default Variables

// Slick icon entity codes outputs the following
// "\2022" outputs ascii character "•"

$slick-font-path: './fonts/' !default;
$slick-font-family: 'slick' !default;
$slick-loader-path: './' !default;
$slick-arrow-color: $white !default;
$slick-dot-color: $secondary-yellow !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: '‹' !default;
$slick-next-character: '›' !default;
$slick-dot-character: '\2022' !default;
$slick-dot-size: 35px !default;
$slick-opacity-default: 0.95 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.65 !default;

.tcu-commons-slider {
	max-width: 1800px;
}

// High Contrast - IE
@media screen and (-ms-high-contrast: active) {
	.tcu-commons-slider {
		border-bottom: 1px solid buttonText;
	}
}

.tcu-commons-slider-body {
	position: relative;
}

.tcu-commons-slider-image {
	height: 250px;

	@include media($medium-screen) {
		height: 450px;
	}

	@include media($large-screen) {
		height: 600px;
	}
}

// Caption - Purple content area
.tcu-commons-slider-content {
	padding: $space-l $space-l $space-xl;

	@include media($large-screen) {
		height: 600px;
		padding: $space-inset-l;
		position: absolute;
		right: 100px;
		top: 0;
		width: 40%;
		z-index: 1;
	}
}

.tcu-commons-slider-content {
	p {
		font-size: $h4-font-size;
	}
}

// Arrows

.slick-prev,
.slick-next {
	background: transparent;
	border: none;
	color: transparent;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 100px;
	line-height: 0;
	outline: none;
	overflow: hidden;
	padding: 0;
	position: absolute;
	top: 5px;
	vertical-align: middle;
	width: 50px;

	&:focus {
		outline: $secondary-yellow 2px solid;
	}

	@include media($large-screen) {
		top: 50%;
		transform: translate(0, -50%);
	}

	&:hover {
		background: transparent;
		color: transparent;
		outline: none;

		&::before {
			opacity: $slick-opacity-on-hover;
		}
	}

	&.slick-disabled::before {
		opacity: $slick-opacity-not-active;
	}

	&::before {
		color: $slick-arrow-color;
		font-family: $slick-font-family;
		font-size: 120px;
		line-height: 0;
		opacity: $slick-opacity-default;
	}
}

.slick-prev {
	left: 25px;
	z-index: 1;

	[dir='rtl'] & {
		left: auto;
		right: 25px;
		z-index: 1;
	}

	&::before {
		content: $slick-prev-character;

		[dir='rtl'] & {
			content: $slick-next-character;
		}
	}
}

.slick-next {
	right: 25px;

	[dir='rtl'] & {
		left: 25px;
		right: auto;
		z-index: 1;
	}

	&::before {
		content: $slick-next-character;

		[dir='rtl'] & {
			content: $slick-prev-character;
		}
	}
}

// Dots

// .slick-dotted.slick-slider {
//     margin-bottom: $space-l;
// }

.slick-dots {
	bottom: 10px;
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	width: 100%;

	li {
		cursor: pointer;
		display: inline-block;
		height: 20px;
		margin: 0 5px;
		padding: 0;
		position: relative;
		width: 20px;

		button {
			background: transparent;
			border: 0;
			color: transparent;
			cursor: pointer;
			display: block;
			font-size: 0;
			height: 20px;
			line-height: 0;
			outline: none;
			padding: 5px;
			width: 20px;

			&:hover {
				outline: none;

				&::before {
					opacity: $slick-opacity-on-hover;
				}
			}

			&:focus {
				outline: $secondary-yellow 1px solid;
			}

			&::before {
				color: $slick-dot-color;
				content: $slick-dot-character;
				font-family: $slick-font-family;
				font-size: $slick-dot-size;
				height: 20px;
				left: 0;
				line-height: 20px;
				opacity: $slick-opacity-not-active;
				position: absolute;
				text-align: center;
				top: 0;
				width: 20px;
			}
		}

		&.slick-active button::before {
			color: $slick-dot-color-active;
			opacity: $slick-opacity-default;
		}
	}
}

// Slider

.slick-slider {
	box-sizing: border-box;
	display: block;
	position: relative;
	touch-action: pan-y;
	user-select: none;
}

.slick-list {
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: hand;
	}
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	transform: translate3d(0, 0, 0);
}

.slick-track {
	display: block;
	left: 0;
	position: relative;
	top: 0;

	&::before,
	&::after {
		content: '';
		display: table;
	}

	&::after {
		clear: both;
	}

	.slick-loading & {
		visibility: hidden;
	}
}

.slick-slide {
	background-size: cover;
	display: none;
	float: left;
	height: 100%;
	min-height: 600px;
	width: 100%;

	[dir='rtl'] & {
		float: right;
	}

	img {
		display: block;
	}

	&.slick-loading img {
		display: none;
	}

	&.dragging img {
		pointer-events: none;
	}

	.slick-initialized & {
		display: block;
	}

	.slick-loading & {
		visibility: hidden;
	}

	.slick-vertical & {
		border: 1px solid transparent;
		display: block;
		height: auto;
	}
}

.slick-arrow.slick-hidden {
	display: none;
}
