// =================================
// Image/svg border bottom for headings
// =================================
// span.tcu-arvo:after,
.tcu-border--purple::after {
	background-image: url('../images/svg-for-news.svg');
	background-position: center bottom;
	background-repeat: no-repeat;
	content: '';
	display: block;
	height: 30px;
}
