.tcu-video {
	margin-left: auto;
	margin-right: auto;
	max-width: 1800px;
	overflow: hidden;
	position: relative;
	text-align: center;

	.tcu-video-container {
		height: 0;
		overflow: hidden;
		padding-bottom: 56.25%;
		pointer-events: none;
		position: relative;

		video,
		iframe,
		object {
			height: 100%;
			left: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}

	.tcu-hero__content {
		bottom: 0;
		color: $white;
		height: 70%;
		left: 0;
		margin: auto;
		overflow: hidden;
		padding: $space-s;
		position: absolute;
		right: 0;
		top: 0;
		width: 70%;

		@include media($medium-screen) {
			height: 70%;
			padding: $space-l;
		}

		h2 {
			font-size: 15px;
			font-weight: $font-bold;
			margin-bottom: 0;
			margin-top: 0;

			@include media($small-screen) {
				font-size: 20px;
			}

			@include media($medium-screen) {
				font-size: 30px;
			}

			@include media($large-screen) {
				font-size: 40px;
				margin-bottom: $space-xl;
			}

			@include media($xl-screen) {
				font-size: 3.125rem;
			}
		}
	}
}

@media (min-aspect-ratio: 16/9) {
	.tcu-video-container {
		height: 300%;
		top: -100%;
	}
}
@media (max-aspect-ratio: 16/9) {
	.tcu-video-container {
		left: -100%;
		width: 300%;
	}
}
