@charset "UTF-8";
.tcu-layoutwrap--aqua, .tcu-layoutwrap--yellow, .tcu-layoutwrap--hornedfrog-grey {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
}

.tcu-layout--large {
  max-width: 1800px;
}

.tcu-layoutwrap--aqua {
  background-color: #95DACF;
  color: #111;
  padding: 16px;
}

.tcu-layoutwrap--yellow {
  background-color: #F9D44B;
  padding: 16px;
}

@media screen and (-ms-high-contrast: active) {
  .tcu-layoutwrap--aqua {
    border-bottom: 1px solid buttonText;
  }
}
.tcu-not-mobile {
  display: none;
}
@media screen and (min-width: 43.75em) {
  .tcu-not-mobile {
    display: block;
  }
}

.tcu-overflow-hidden {
  overflow: hidden;
}

html.no-js .tcu-pulse {
  display: none;
}

.tcu-font-bold {
  font-weight: 700;
}

.tcu-text-shadow {
  text-shadow: 2px 2px 0 #111;
}

.tcu-yellow {
  color: #F9D44B !important;
}

.tcu-absolute-btm-left {
  bottom: 32px;
  left: 32px;
  position: absolute;
  right: 32px;
}

.tcu-position--relative {
  position: relative;
}

.tcu-pulse {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: pulse;
}

@keyframes pulse {
  0% {
    opacity: 0.7;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.7;
    transform: scale(0.9);
  }
}
.tcu-arrow {
  background: transparent;
  border: none;
  height: 100%;
  padding: 0;
  width: 50px;
}
.tcu-arrow:focus {
  outline: 1px dotted #111;
}
.tcu-arrow svg {
  pointer-events: none;
}

@media screen and (-ms-high-contrast: active) {
  .tcu-arrow svg {
    fill: buttonText;
  }
}
.tcu-arrow-down {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.0.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%22-77%2010%2020%2011%22%20enable-background%3D%22new%20-77%2010%2020%2011%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20id%3D%22Expand_More%22%20fill%3D%22%23111111%22%20d%3D%22M-58.7%2C10.3l-8.3%2C8.3l-8.3-8.3c-0.4-0.4-1-0.4-1.4%2C0c-0.4%2C0.4-0.4%2C1%2C0%2C1.4l9%2C9l0%2C0l0%2C0%0D%0A%09c0.4%2C0.4%2C1%2C0.4%2C1.4%2C0l9-9c0.4-0.4%2C0.4-1%2C0-1.4C-57.7%2C9.9-58.3%2C9.9-58.7%2C10.3z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
  background-color: transparent;
  background-size: 50px 60px;
  border: none;
  height: 50px;
  width: 50px;
}
.tcu-arrow-down:focus {
  outline: #111 2px solid;
}

.tcu-arrow-up {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2019.0.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22%D0%A1%D0%BB%D0%BE%D0%B9_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20viewBox%3D%22-77%2010%2020%2011%22%20enable-background%3D%22new%20-77%2010%2020%2011%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpath%20id%3D%22Expand_Less%22%20fill%3D%22%23111111%22%20d%3D%22M-66.3%2C10.3c-0.4-0.4-1-0.4-1.4%2C0l-9%2C9c-0.4%2C0.4-0.4%2C1%2C0%2C1.4c0.4%2C0.4%2C1%2C0.4%2C1.4%2C0l8.3-8.3%0D%0A%09l8.3%2C8.3c0.4%2C0.4%2C1%2C0.4%2C1.4%2C0c0.4-0.4%2C0.4-1%2C0-1.4L-66.3%2C10.3z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
  background-color: transparent;
  background-size: 50px 60px;
  border: none;
  height: 50px;
  width: 50px;
}
.tcu-arrow-up:focus {
  outline: #111 2px solid;
}

.tcu-flexbox {
  display: flex;
}

.tcu-flex-inline {
  display: inline-flex;
}

.tcu-flexbox--column-wrap {
  flex-flow: column wrap;
}

.tcu-flexbox--column-nowrap {
  flex-flow: column nowrap;
}

.tcu-flexbox--row-nowrap {
  flex-flow: row nowrap;
}

.tcu-flexbox--row-wrap {
  flex-flow: row wrap;
}

.tcu-flexbox--vertical-align {
  justify-content: center;
}

.tcu-flexbox--align-items {
  align-items: center;
}

.tcu-flexbox--column {
  flex-direction: column;
}

.tcu-flexbox--row {
  flex-direction: row;
}

.tcu-flex-space-between {
  justify-content: space-between;
}

.tcu-flex-start {
  align-content: flex-start;
}

@media screen and (min-width: 43.75em) {
  .tcu-table .tcu-not-mobile {
    display: table-cell;
  }
}

.tcu-border--purple::after {
  background-image: url("../images/svg-for-news.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  content: '';
  display: block;
  height: 30px;
}

.tcu-button--transparent {
  background-color: transparent;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 1.375rem;
}
.tcu-button--transparent:hover, .tcu-button--transparent:focus {
  background: #F9D44B;
  color: #111;
}
.tcu-button--transparent:hover svg, .tcu-button--transparent:focus svg {
  fill: #111;
}

.tcu-bounce--right--yellow::before {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-out;
  z-index: -1;
}

.tcu-bounce--right--yellow::before {
  transform-origin: 0 50%;
}

.tcu-bounce--right--yellow::before {
  background: #F9D44B;
}
.tcu-bounce--right--yellow:hover, .tcu-bounce--right--yellow:focus, .tcu-bounce--right--yellow:active {
  color: #4D1979;
}
.tcu-bounce--right--yellow svg:hover, .tcu-bounce--right--yellow svg:focus, .tcu-bounce--right--yellow svg:active {
  fill: #4D1979;
}

.tcu-bounce--right--yellow:hover::before, .tcu-bounce--right--yellow:focus::before, .tcu-bounce--right--yellow:active::before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.tcu-button-icon {
  fill: #FFF;
  height: 30px;
  vertical-align: top;
  width: 30px;
}

.tcu-hero {
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
.tcu-hero .tcu-hero__content {
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFF;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 62.5em) {
  .tcu-hero .tcu-hero__content {
    padding-left: 10%;
    padding-right: 10%;
  }
}
.tcu-hero .tcu-hero__content a {
  color: #F9D44B;
  font-size: 1.375rem;
}
.tcu-hero .tcu-hero__content a:focus {
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.95);
  color: #FFF;
  outline: thin dotted;
}
.tcu-hero .tcu-hero__content a:hover, .tcu-hero .tcu-hero__content a:visited, .tcu-hero .tcu-hero__content a:active {
  color: #FFF;
  text-decoration: underline;
}
.tcu-hero .tcu-hero__content h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (min-width: 75em) {
  .tcu-hero .tcu-hero__content h2 {
    font-size: 60px;
  }
}

@media screen and (-ms-high-contrast: active) {
  .tcu-hero {
    border-bottom: 1px solid buttonText;
  }
}
.tcu-overlay-defaults {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scale(0, 0);
  transition: all 0.4s ease-out 0.3s;
  width: 100%;
  z-index: 0;
}

.tcu-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.tcu-overlay--purple {
  background-color: rgba(77, 25, 121, 0.6);
}

.tcu-zindex-2 {
  z-index: 2;
}

.tcu-background--typography {
  background: url("../images/topography.png");
  background-size: cover;
  left: 0;
  position: absolute;
  top: 0;
}

.title-border {
  text-align: center;
}

.tcu-background-defaults {
  background-color: #111;
  background-size: cover !important;
  color: #FFF;
  font-size: 20px;
  min-height: 500px;
  padding: 32px;
  position: relative;
}

.tcu-background--sayagata {
  background-image: linear-gradient(45deg, #5E88B4, #4D1979);
  background-repeat: repeat;
  background-size: 100% 100%;
  font-size: 1.875rem;
}
.tcu-background--sayagata a {
  color: #F9D44B;
}
.tcu-background--sayagata a:hover, .tcu-background--sayagata a:focus {
  color: #EEE;
}

.tcu-background--angles {
  background: transparent url("../images/svg/angles_slice.svg") center center no-repeat;
  background-size: cover;
  height: 254px;
  width: 100%;
}

.tcu-background--triangles {
  background: #4D1979 url("../images/svg/triangles_slice.svg") bottom center no-repeat;
}

.tcu-infographics--tangles {
  background-color: transparent;
  background-image: url("../images/svg/top-infographic-angles.svg");
  background-position: top center;
  background-size: cover;
  display: block;
  height: 212px;
  position: relative;
  top: -2px;
  width: 100%;
}

.tcu-infographics--bangles {
  background-image: url("../images/svg/infographic-bottom.svg");
  background-position: bottom center;
  background-size: cover;
  bottom: -2px;
  display: block;
  height: 81px;
  position: relative;
  width: 100%;
}

.tcu-background--feathers {
  background-color: transparent;
  background-image: url("../images/subtle_white_feathers.png");
}

.tcu-background--shattered {
  background-color: transparent;
  background-image: url("../images/shattered.png");
  padding: 32px 16px;
}

.tcu-background--grunge {
  background-color: transparent;
  background-image: url("../images/mochaGrunge.png");
  padding-bottom: 16px;
  padding-top: 16px;
}
@media screen and (min-width: 75em) {
  .tcu-background--grunge {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.tcu-background--typography {
  background: transparent url("../images/topography.png");
  position: relative;
  top: 0;
}

.tcu-dash-background-svg {
  background: transparent url("../images/feature-video.svg") center center no-repeat;
}

.tcu-layoutwrap--hornedfrog-grey {
  background-color: #A3A9AC;
  color: #FFF;
  padding: 32px;
}
.tcu-layoutwrap--hornedfrog-grey blockquote {
  border-left: 10px solid #FFF;
}

.tcu-background-video-default {
  background: url("../images/video-background-500x500.jpg") center center no-repeat;
  background-size: cover;
}
@media screen and (min-width: 43.75em) {
  .tcu-background-video-default {
    background: url("../images/video-background-800x500.jpg") center center no-repeat;
    background-size: cover;
  }
}

@media screen and (-ms-high-contrast: active) {
  .tcu-background-defaults {
    border-bottom: 1px solid buttonText;
    border-right: 1px solid buttonText;
  }

  .tcu-background--sayagata,
  .tcu-background--shattered,
  .tcu-background--feathers,
  .tcu-layoutwrap--transparent {
    border-bottom: 1px solid buttonText;
  }
}
.tcu-banner {
  font-size: 40px;
}
@media screen and (min-width: 43.75em) {
  .tcu-banner {
    font-size: 60px;
  }
}
@media screen and (min-width: 62.5em) {
  .tcu-banner {
    font-size: 70px;
  }
}

.tcu-expandablebanner-background {
  flex-flow: column nowrap;
}
@media screen and (min-width: 62.5em) {
  .tcu-expandablebanner-background {
    flex-flow: row wrap;
  }
}

.tcu-expand-banner-child {
  margin: 4px;
  padding: 4px;
}
.tcu-expand-banner-child a {
  color: #FFF;
}
.tcu-expand-banner-child a:hover {
  color: #F9D44B;
}
@media screen and (min-width: 62.5em) {
  .tcu-expand-banner-child {
    flex-basis: 16%;
    height: 150px;
    padding: 8px;
    width: 150px;
  }
}

@media screen and (-ms-high-contrast: active) {
  .tcu-expand-banner-child {
    border: 1px solid buttonText;
  }
}
.tcu-video {
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.tcu-video .tcu-video-container {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  pointer-events: none;
  position: relative;
}
.tcu-video .tcu-video-container video,
.tcu-video .tcu-video-container iframe,
.tcu-video .tcu-video-container object {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.tcu-video .tcu-hero__content {
  bottom: 0;
  color: #FFF;
  height: 70%;
  left: 0;
  margin: auto;
  overflow: hidden;
  padding: 8px;
  position: absolute;
  right: 0;
  top: 0;
  width: 70%;
}
@media screen and (min-width: 43.75em) {
  .tcu-video .tcu-hero__content {
    height: 70%;
    padding: 32px;
  }
}
.tcu-video .tcu-hero__content h2 {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (min-width: 30.0625em) {
  .tcu-video .tcu-hero__content h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 43.75em) {
  .tcu-video .tcu-hero__content h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 62.5em) {
  .tcu-video .tcu-hero__content h2 {
    font-size: 40px;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 75em) {
  .tcu-video .tcu-hero__content h2 {
    font-size: 3.125rem;
  }
}

@media (min-aspect-ratio: 16 / 9) {
  .tcu-video-container {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16 / 9) {
  .tcu-video-container {
    left: -100%;
    width: 300%;
  }
}
img.aligncenter {
  display: inline-block;
}

.tcu-masonry-home .tcu-modal {
  margin-bottom: 16px;
}
@media screen and (min-width: 43.75em) {
  .tcu-masonry-home .tcu-modal {
    margin-left: 8px;
    max-width: 350px;
  }
}
@media screen and (min-width: 43.75em) {
  .tcu-masonry-home .tcu-modal:last-child {
    margin-bottom: 0;
  }
}

.tcu-masonry-home.effect-2 div.animate {
  animation: moveUp 0.65s ease forwards;
  transform: translateY(200px);
}

@-webkit-keyframes moveUp {
  100% {
    opacity: 1;
  }
}
@keyframes moveUp {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 30.0625em) {
  html.no-js .tcu-masonry-home {
    column-count: 2;
  }
}
@media screen and (min-width: 62.5em) {
  html.no-js .tcu-masonry-home {
    column-count: 3;
  }
}
html.no-js .tcu-masonry-home .tcu-modal {
  break-inside: avoid;
  margin-bottom: 16px;
  page-break-inside: avoid;
  width: 100%;
}
@media screen and (min-width: 43.75em) {
  html.no-js .tcu-masonry-home .tcu-modal {
    margin-left: 8px;
    max-width: 350px;
  }
}

.eventlistside {
  font-size: 18px;
  margin-bottom: 32px;
  margin-left: 16px;
  overflow: hidden;
}
@media screen and (min-width: 43.75em) {
  .eventlistside {
    float: left;
    width: 350px;
  }
}
.eventlistside > div:last-child {
  display: inline-block;
  float: left;
  margin-left: 16px;
  max-width: 150px;
  padding-top: 8px;
}
@media screen and (min-width: 43.75em) {
  .eventlistside > div:last-child {
    max-width: 230px;
  }
}

.entry-date {
  background-color: #4D1979;
  color: #FFF;
  float: left;
  font-family: "Arvo", serif;
  font-size: 25px;
  padding: 8px;
  text-align: center;
  width: 90px;
}

.tcu-commons-slider {
  max-width: 1800px;
}

@media screen and (-ms-high-contrast: active) {
  .tcu-commons-slider {
    border-bottom: 1px solid buttonText;
  }
}
.tcu-commons-slider-body {
  position: relative;
}

.tcu-commons-slider-image {
  height: 250px;
}
@media screen and (min-width: 43.75em) {
  .tcu-commons-slider-image {
    height: 450px;
  }
}
@media screen and (min-width: 62.5em) {
  .tcu-commons-slider-image {
    height: 600px;
  }
}

.tcu-commons-slider-content {
  padding: 32px 32px 64px;
}
@media screen and (min-width: 62.5em) {
  .tcu-commons-slider-content {
    height: 600px;
    padding: 32px 32px 32px 32px;
    position: absolute;
    right: 100px;
    top: 0;
    width: 40%;
    z-index: 1;
  }
}

.tcu-commons-slider-content p {
  font-size: 1.375rem;
}

.slick-prev,
.slick-next {
  background: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 100px;
  line-height: 0;
  outline: none;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 5px;
  vertical-align: middle;
  width: 50px;
}
.slick-prev:focus,
.slick-next:focus {
  outline: #F9D44B 2px solid;
}
@media screen and (min-width: 62.5em) {
  .slick-prev,
  .slick-next {
    top: 50%;
    transform: translate(0, -50%);
  }
}
.slick-prev:hover,
.slick-next:hover {
  background: transparent;
  color: transparent;
  outline: none;
}
.slick-prev:hover::before,
.slick-next:hover::before {
  opacity: 1;
}
.slick-prev.slick-disabled::before,
.slick-next.slick-disabled::before {
  opacity: 0.65;
}
.slick-prev::before,
.slick-next::before {
  color: #FFF;
  font-family: "slick";
  font-size: 120px;
  line-height: 0;
  opacity: 0.95;
}

.slick-prev {
  left: 25px;
  z-index: 1;
}
[dir='rtl'] .slick-prev {
  left: auto;
  right: 25px;
  z-index: 1;
}
.slick-prev::before {
  content: "‹";
}
[dir='rtl'] .slick-prev::before {
  content: "›";
}

.slick-next {
  right: 25px;
}
[dir='rtl'] .slick-next {
  left: 25px;
  right: auto;
  z-index: 1;
}
.slick-next::before {
  content: "›";
}
[dir='rtl'] .slick-next::before {
  content: "‹";
}

.slick-dots {
  bottom: 10px;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}
.slick-dots li {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  position: relative;
  width: 20px;
}
.slick-dots li button {
  background: transparent;
  border: 0;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  outline: none;
  padding: 5px;
  width: 20px;
}
.slick-dots li button:hover {
  outline: none;
}
.slick-dots li button:hover::before {
  opacity: 1;
}
.slick-dots li button:focus {
  outline: #F9D44B 1px solid;
}
.slick-dots li button::before {
  color: #F9D44B;
  content: "•";
  font-family: "slick";
  font-size: 35px;
  height: 20px;
  left: 0;
  line-height: 20px;
  opacity: 0.65;
  position: absolute;
  text-align: center;
  top: 0;
  width: 20px;
}
.slick-dots li.slick-active button::before {
  color: #F9D44B;
  opacity: 0.95;
}

.slick-slider {
  box-sizing: border-box;
  display: block;
  position: relative;
  touch-action: pan-y;
  user-select: none;
}

.slick-list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  display: block;
  left: 0;
  position: relative;
  top: 0;
}
.slick-track::before, .slick-track::after {
  content: '';
  display: table;
}
.slick-track::after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  background-size: cover;
  display: none;
  float: left;
  height: 100%;
  min-height: 600px;
  width: 100%;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  border: 1px solid transparent;
  display: block;
  height: auto;
}

.slick-arrow.slick-hidden {
  display: none;
}

.tcu-leadership-profile {
  margin-right: 16px;
  max-width: 200px;
}

.tcu-showcase {
  color: #FFF;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 43.75em) {
  .tcu-showcase {
    margin-bottom: 16px;
    margin-top: 16px;
  }
}
.tcu-showcase .tcu-showcase__image {
  margin-right: auto;
  margin-left: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover !important;
  border: none;
  max-height: 100%;
  max-width: 320px;
  padding: 0;
  width: 100%;
}
.tcu-showcase .tcu-showcase__image:focus {
  border: #F47D20 4px solid;
  box-shadow: 0 0 2px rgba(244, 125, 32, 0.95);
  padding: 0;
}
@media screen and (min-width: 43.75em) {
  .tcu-showcase .tcu-showcase__image {
    float: left;
    height: 260px;
    width: 260px;
  }
}
@media screen and (min-width: 62.5em) {
  .tcu-showcase .tcu-showcase__image {
    height: 200px;
    margin: 0;
    width: 200px;
  }
}
.tcu-showcase .tcu-showcase__content {
  padding: 16px;
  text-align: left;
}
@media screen and (min-width: 43.75em) {
  .tcu-showcase .tcu-showcase__content {
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 62.5em) {
  .tcu-showcase .tcu-showcase__content {
    padding-top: 0;
  }
}
@media screen and (min-width: 75em) {
  .tcu-showcase .tcu-showcase__content {
    width: 60%;
  }
}

.tcu-showcase--inactive {
  height: 200px;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 200px;
  padding-left: 0;
  padding-right: 0;
}

.tcu-showcase--active {
  height: 200px;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  width: 50%;
}

.tcu-showcase--hide {
  display: none;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 500ms, display 800ms;
  z-index: -1;
}

.tcu-showcase--show {
  display: inline-block;
  margin-top: 16px;
  opacity: 1;
  position: absolute;
  right: 32px;
  top: 0;
  transition: opacity 500ms, display 800ms;
  z-index: 1;
}

.tcu-sidebar__widget.widget_rss ul {
  list-style-type: none !important;
}

.tcu-sidebar__widget.widget_tag_cloud .tagcloud {
  padding: 16px 16px 16px 16px;
}

/*# sourceMappingURL=style.css.map */
